@use 'reset';
@use 'vars';
@use 'fonts';
@use 'global';




.header {
    padding: 20px 0 40px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__logo{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    &__lang {
        display: flex;
    }
    &__actions{
        display: flex;
        gap: 20qx;
        align-items: center;
    }
}

.menu{
    &__list {
        display: flex;
        gap: 30px;
    }
}

.logo {
   display: inline-block;
}